* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}


/* solution */
/* .max-width-wrapper { */
/*   max-width: 800; */
/*   margin: 0 auto; */
/* } */

/* Add styles here! */
h1, p {
  margin: 0px;
  padding: 0px;
}

.max-width-wrapper {
  padding: 0px 128px;
}

header .max-width-wrapper {
  border-bottom: solid 8px hsl(0deg, 0%, 40%);
}

main .max-width-wrapper {
  padding-top: 96px;
}

.intro-chunk {
  height: 45%;
  padding: 128px 16px 0px 16px;
}

.intro-chunk strong {
  color: hsl(160deg, 100%, 30%);
}

main {
  background-color: hsl(0deg, 0%, 60%);
  height: 55%;
}

.card {
  max-width: 574px;
  padding: 4px 16px;
  background-color: white;
  border-bottom: solid 8px hsl(0deg, 0%, 40%);
}

.card p {
  font-size: 1rem;
  /* line-height: 1.4; solution */
  margin-bottom: 16px;
}

.title {
  font-size: 2rem;
  margin-bottom: 48px;
}

.intro-chunk p {
  font-size: 1.25rem;
  max-width: 335px;
  margin-bottom: 32px;
}

.indented-heading {
  font-size: 1.5rem;
  background-color: hsl(45deg, 100%, 50%);
  min-height: 64px;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-left: -32px;
  padding-left: 32px;
  border-bottom: 8px solid hsl(45deg, 100%, 40%);
  /* width: fit-content; solution */
  /* margin-top: -16px; solution */
  max-width: 400px;
}

@media (max-width: 767px) {
  .max-width-wrapper {
    padding: 0px 16px;
  }

  .indented-heading {
    margin-left: -16px;
    padding-left: 16px;
  }

  .card {
    max-width: none;
  }

  main .max-width-wrapper {
    padding-left: 0px;
    padding-right: 0px;
  }
}
